footer{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;

}
.social-links{
    padding: 0;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid #666;
}