
.country {
    a{
        color: #666;
    }
}
.header-top{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #6e6d6d;
}
.collapse:not(.show){
    display: block;
}
.nav-call {
    margin-top: 7px;
    color: #6e6d6d;
    text-decoration: none;
}
.free {
    padding-top: 5px;
}

@media #{$tablet}{
  .header-top{
     flex-direction: column;
    }
    .header-icon {
        li{
            padding-left: 15px;
        }
    }
}